@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  color: black;
}
.font-inter{
  font-family: 'Inter', sans-serif;
}
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.swiper-button-next , .swiper-button-prev{
  color: #fff;
  font-size: 12px;
  background: #000;
  border-radius: 100%;
  padding: 20px;
 
}
.swiper-button-next::after{
  font-size: 12px;
}
.swiper-button-prev::after{
  font-size: 12px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
@keyframes fade-in {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.animate-fade-in {
  animation: fade-in .5s linear forwards
}

@keyframes marquee {
  to {
      transform: translateY(-50%)
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) linear infinite
}

@keyframes spin-reverse {
  to {
      transform: rotate(-1turn)
  }
}

.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(1turn)
  }
}

.animate-spin-slower {
  animation: spin 6s linear infinite
}


.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-colors {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}